.desBor {
  border: 1px solid red;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'mr-eaves-modern', sans-serif;
  font-weight: 300;
  font-style: normal;
  background-color: #fafdff;
}
h1,
h2 {
  font-family: 'mr-eaves-xl-modern', sans-serif;
  font-weight: 200;
  font-style: normal;
  color: #7A6F48;
}
h3,
h4,
h5 {
  font-family: 'mr-eaves-modern', sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #7A6F48;
}
h1 {
  font-size: 6rem;
}
h2 {
  font-size: 3.5rem;
  padding: 10px 0;
  color: #7A6F48;
}
h3 {
  font-size: 3rem;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 2rem;
  padding-bottom: 10px;
  color: #7A6F48;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}
a {
  text-decoration: none;
}
hr {
  border-top: 1px dashed #7A6F48;
  margin-top: 4rem;
  margin-bottom: 4rem;
}
i {
  color: #033859;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-bottom: 1rem;
  margin-top: 1rem;
}
header .navBar {
  display: flex;
  justify-content: space-evenly;
}
header .navBar a {
  text-decoration: none!important;
  font-size: 2rem;
  color: #7A6F48;
}
@media screen and (max-width: 500px) {
  header {
    display: flex;
    flex-direction: column;
  }
  header h1 {
    margin-bottom: 1rem;
  }
}
@media screen and (max-width: 768px) {
  header h1 {
    font-size: 4.5rem;
  }
}
header nav {
  display: flex;
  justify-content: space-between;
  width: 40%;
}
@media screen and (max-width: 500px) {
  header nav {
    width: 80%;
  }
}
header nav a {
  font-size: 2.25rem;
  padding: 0.66rem 1rem;
}
header nav .login {
  color: #fafdff;
  align-self: center;
  background-color: #033859;
  border-radius: 3rem;
}
footer {
  text-align: center;
  font-family: 'mr-eaves-xl-modern', sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 1rem;
  padding: 1rem 0 0 0;
}
.home {
  padding: 0 2%;
}
.home .splash {
  display: flex;
  margin-top: 4rem;
}
@media screen and (max-width: 500px) {
  .home .splash {
    justify-content: center;
  }
}
.home .splash img {
  width: 60%;
}
@media screen and (max-width: 500px) {
  .home .splash img {
    display: none;
  }
}
.home .splash .splashText {
  border-left: 1px dashed #7A6F48;
  padding-left: 4rem;
  margin: 1rem;
}
@media screen and (max-width: 500px) {
  .home .splash .splashText {
    padding: 0rem 2rem;
    border-left: none;
    margin: auto;
  }
}
.home .splash .splashText .call {
  font-family: sys-tt, sans-serif;
  font-weight: 700;
  font-style: normal;
  line-height: 6rem;
}
@media screen and (max-width: 500px) {
  .home .splash .splashText form {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.home .splash .splashText .callBTN {
  color: #fafdff;
  align-self: center;
  background-color: #033859;
  border-radius: 3rem;
  font-size: 2rem;
  text-align: center;
  padding: 1rem 2rem;
}
@media screen and (max-width: 500px) {
  .home .splash .splashText .callBTN {
    align-self: center;
    margin: auto;
  }
}
.home .mainContent .information {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1rem;
}
.home .mainContent .information .textBox {
  display: flex;
  flex-direction: column;
  justify-items: center;
  padding: 1rem;
  width: 30%;
}
.home .mainContent .information .textBox h3 {
  margin-bottom: 1rem;
}
.home .mainContent .information .textBox img {
  align-self: center;
  margin-bottom: 1rem;
}
.home .mainContent .information .textBox i {
  padding: 2rem;
  margin: auto;
}
@media screen and (max-width: 500px) {
  .home .mainContent .information .textBox {
    width: 80%;
  }
}
@media screen and (max-width: 768px) {
  .home .mainContent .information .textBox {
    width: 90%;
  }
}
.home .splashText {
  margin-top: 4rem;
}
.aboutContent {
  margin: 1rem;
  margin-top: 4rem;
}
.aboutContent .boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.aboutContent .boxes .aboutBox {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 50%;
}
@media screen and (max-width: 500px) {
  .aboutContent .boxes .aboutBox {
    width: 80%;
  }
}
.aboutContent .boxes .aboutBox img {
  align-self: center;
  margin-bottom: 1rem;
}
