.desBor {
  border: 1px solid red;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'mr-eaves-modern', sans-serif;
  font-weight: 300;
  font-style: normal;
}
h1,
h2 {
  font-family: 'mr-eaves-xl-modern', sans-serif;
  font-weight: 200;
  font-style: normal;
}
h3,
h4,
h5 {
  font-family: 'mr-eaves-modern', sans-serif;
  font-weight: 300;
  font-style: normal;
}
h1 {
  font-size: 6rem;
}
h2 {
  font-size: 5rem;
  padding-bottom: 10px;
}
h3 {
  font-size: 3rem;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 2rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-bottom: 2rem;
  margin-top: 2rem;
}
@media screen and (max-width: 480px) {
  header {
    display: flex;
    flex-direction: column;
  }
  header h1 {
    margin-bottom: 2rem;
  }
  header .navigationBar {
    display: flex;
    justify-content: space-between;
    width: 80%;
  }
}
header nav {
  display: flex;
  justify-content: space-between;
  width: 40%;
}
header nav a {
  font-size: 1.75rem;
  text-decoration: none;
}
footer {
  text-align: center;
  font-size: 1.6rem;
  padding: 1rem 0 0 0;
}
.home {
  padding: 0 2%;
}
.home .splash .splashIMG {
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: auto;
}
.home .splash .splashHeader {
  border: 1px solid red;
  position: absolute;
  text-align: center;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.home .splash .splashText {
  margin: 1rem;
}
.home .mainContent {
  border: 1px solid red;
}
.home .mainContent .information {
  display: flex;
  justify-content: space-evenly;
}
.home .mainContent .information .textBox {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 31%;
}
.home .mainContent .information .textBox .img {
  align-self: center;
}
