* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

html, body {
  .mainFont();
  background-color: @veryLightBlue;
}

h1, h2{
  .headingFont();
  color: @darkTan;
}

 h3, h4, h5 {
  .midHeaderFont();
  color: @darkTan;
}



h1 {
  font-size: 6rem;
}

h2 {
  font-size: 3.5rem;
  padding: 10px 0;
  color: @darkTan
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}

p {
  line-height: 1.5;
  font-size: 2rem;
  padding-bottom: 10px;
  color: @darkTan;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}


a{
  text-decoration: none;
}

hr{
  border-top: 1px dashed @darkTan;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

i{
  color: @darkBlue;
}