.home{
  padding: 0 2%;



  .splash{

    .splashIMG{
      .resIMG();
    }
    .splashHeader{
      .desBor();
      .centered();
      color: white;
    }

    .splashText{
      margin: 1rem;
    }
  }

  .mainContent{
    .desBor();

      .information{
        display: flex;
        justify-content: space-evenly;
      
      .textBox{
        .desBor();
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 31%;


        .img{
          align-self: center;
        }
    }
    }
  }
}