// ME light
.headingFont(){
  font-family: 'mr-eaves-xl-modern', sans-serif;
  font-weight: 200;
  font-style: normal;
}

// ME book
.midHeaderFont(){
  font-family: 'mr-eaves-modern', sans-serif;
  font-weight: 300;
  font-style: normal;
}

.mainFont(){
  font-family: 'mr-eaves-modern', sans-serif;
  font-weight: 300;
  font-style: normal;
}

.centered(){
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
} 

.splashFont(){
  font-family: sys-tt, sans-serif;
  font-weight: 700;
  font-style: normal;
  line-height: 6rem;
}




// design border
.desBor{
  border: 1px solid red;
}

.login(){
  color: @veryLightBlue;
  align-self: center;
  background-color: @darkBlue;
  border-radius: 3rem;
}