// ME light
.headingFont(){
  font-family: 'mr-eaves-xl-modern', sans-serif;
  font-weight: 200;
  font-style: normal;
}

// ME book
.midHeaderFont(){
  font-family: 'mr-eaves-modern', sans-serif;
  font-weight: 300;
  font-style: normal;
}

.mainFont(){
  font-family: 'mr-eaves-modern', sans-serif;
  font-weight: 300;
  font-style: normal;
}

.centered(){
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
} 

.splashFont(){
  font-family: sys-tt, sans-serif;
  font-weight: 700;
  font-style: normal;
  line-height: 6rem;
}




// design border
.desBor{
  border: 1px solid red;
}

.login(){
  color: @veryLightBlue;
  align-self: center;
  background-color: @darkBlue;
  border-radius: 3rem;
}


// HOVER.CSS

// prefix declarations
.prefixed(@property, @value) {
  & when (@webkit = true) {
    -webkit-@{property}: @value;
  }

  & when (@moz = true) {
      -moz-@{property}: @value;
  }

  & when (@ms = true) {
      -ms-@{property}: @value;
  }

  & when (@o = true) {
      -o-@{property}: @value;
  }

  @{property}: @value;
}

// prefix keyframes
.keyframes(@name; @content) {
  & when (@webkit = true) {
    @-webkit-keyframes @name {
      @content();
    }
  }

  & when (@moz = true) {
      @-moz-keyframes @name {
          @content();
      }
  }

  & when (@ms = true) {
      @-ms-keyframes @name {
          @content();
      }
  }

  & when (@o = true) {
      @-o-keyframes @name {
          @content();
      }
  }

  @keyframes @name {
    @content();
  }
}

//Forward Effect
/* Forward */
.forward() {
	.hacks();
	.prefixed(transition-duration, @mediumDuration);
	.prefixed(transition-property, transform);

	&:hover,
	&:focus,
	&:active {
		.prefixed(transform, translateX(8px));
	}
}
