// Navigation Styles here
header{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-bottom: 1rem;
  margin-top: 1rem;

  @media @mobile{
    display: flex;
    flex-direction: column;

    h1{
      font-size: 5rem;
      margin-bottom: 1rem;
    }

    .navBar{
    display: flex;
    justify-content: space-evenly;
    width: 80%;

      a{
        font-size: 1.75rem;
      }

    }
  }

  nav {
      display: flex;
      justify-content: space-between;
      width: 40%;
      text-decoration: none; 


    a {
      font-size: 2rem;
      text-decoration: none; 
    }

  }
}