// Navigation Styles here
header{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-bottom: 2rem;
  margin-top: 2rem;

    @media @mobile{
      display: flex;
      flex-direction: column;

      h1{
        margin-bottom: 2rem;
      }

      .navigationBar{
      display: flex;
      justify-content: space-between;
      width: 80%;
      }
    }


  nav {
      display: flex;
      justify-content: space-between;
      width: 40%;


    a {
      font-size: 1.75rem;
      text-decoration: none; 
    }
  }
}