// Navigation Styles here
header{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-bottom: 1rem;
  margin-top: 1rem;



    .navBar{
    display: flex;
    justify-content: space-evenly;

      a{
        text-decoration: none!important;
        font-size: 2rem;
        color: @darkTan; 
      }
    }

    @media @mobile{
      display: flex;
      flex-direction: column;
  
      h1{
        margin-bottom: 1rem;
      }
  }

    @media @tablet{

      h1{
        font-size: 4.5rem;
      }
    }


  nav {
      display: flex;
      justify-content: space-between;
      width: 40%;


      @media @mobile{
        width: 80%;
      }

    a {

      font-size: 2.25rem;

      padding: .66rem 1rem;
    }
    
    .login{
      .login();
    }

  }
}